.ourteam{
    text-align: center;
    width: 100%;
background-color: white;
}

.show{
    text-align: center;
    float: left;
  width: 30%; 
  
}
.m{
    width: 90%;
    text-align: center;
}


